@import "../../../styles/mixins.scss";

.root {
  text-align: start;
  @include flex(flex-start, stretch, 20px);
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px 20px;
  box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);

  button {
    align-self: center;
    margin-top: 8px;
    margin-bottom: 12px;
  }
}

.checkoutTitle {
  position: relative;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;


  &::after {
    content: "";
    height: 1px;
    width: 110%;
    display: block;
    background-color: #ccc;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.note {
  font-size: 13px;
}
