@import '../../styles/mixins.scss';

.card {
	position: relative;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(21, 138, 161,0.2), 0 2px 4px rgba(21, 138, 161,0.2);
	border-radius: 5px;
	background-color: #ffffff;
	width: 100%;
	transition: box-shadow .3s;

	&:hover {
		box-shadow: 0 2px 5px rgba(11, 77, 90, 0.3), 0 4px 6px rgba(11, 77, 90,0.3);
	}
}

.imgWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    overflow: hidden;
	height: 250px;
	margin-bottom: 10px;
}

.star {
	width: 26px;
	height: 26px;
	position: absolute;
	top: 8px;
	right: 6px;
	border-radius: 50%;
	background-color: #ffffff;
	@include flex;

	svg path {
		transition: fill .3s ease-in-out;
	}

	&:hover svg path {
		fill: #ddd30e;
	}
}

.img {
	height: auto;
    object-fit: contain;
	width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.decription {
	text-align: left;
	margin-bottom: 17px;
}

.name {
    font-size: 16px;
    line-height: 20px;
    color: #221f1f;
}

.cardsName {
	display: block;
	height: 40px;
	margin-bottom: 12px;
	overflow: hidden;
}

.article {
	display: block;
	font-size: 13px;
    line-height: 12px;
	margin-bottom: 10px;
}

.article, .tableArticle {
	color: #aeaeae;
}

.tableArticle {
	font-size: 14px;
	line-height: 14px;
	margin-top: 2px;
}

.price {
	font-size: 18px;
	font-weight: 600;
	color: #221f1f;
}

.cardFooter {
	@include flex(space-between, center);
	padding-bottom: 5px;
}

.tableRow {
	border-bottom: 1px solid #ccc;
}

.tableButtons {
	@include flex(center, center, 15px);
}
