@import '../../styles/mixins.scss';

.cartWrapper {
	@include flex(space-between, flex-start, 30px);

	h3 {
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
	}

	h3.cartTitle {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.cartTable {
    width: 100%;
	margin: 0 auto;
    border-collapse: collapse;
	font-size: 14px;

	th {
		background-color: #f2f2f2;
	}

	td, th {
		text-align: center;
		padding: 10px;
	}
	
	th:not(:last-child) {
		border-right: 1px solid #ccc;
	}

	td:nth-child(2), th:nth-child(2) {
		width: 25%;
	}

	td:nth-child(5) {
		font-weight: 600;
	}

	img {
		object-fit: contain;
		height: 100px;
		width: 100px;
	}
}

.totalSum {
	text-align: right;
	padding: 10px;
	margin: 30px auto;

	p {
		font-size: 19px;
		line-height: 24px;
		font-weight: 700;
	}
}

.form {
	width: 35%;
}
