@import '../../styles/mixins.scss';

.tableRow {
	border-bottom: 1px solid #ccc;
}

.name {
	font-weight: 600;

	p {
		color: #929292;
		font-weight: 400;
		margin-top: 10px;
	}
}

.deleteBtn {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	border-radius: 6px;
	@include flex;
	transition: background-color .2s ease-in-out;

	&:hover {
		background-color: #f2f2f2;
	}
}