.root {
	margin: 40px auto;
	width: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding: 12px;
	font-size: 25px;

	h1 {
		font-size: 35px;
		font-weight: 700;
	}
}