@import '../../styles/mixins.scss';

.container {
	padding: 20px;
	margin: 0 auto;
	max-width: 1200px;

	h1 {
		font-weight: 700;
		font-size: 28px;
		line-height: 35px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}


