.btn {
	font-size: 16px;
	line-height: 20px;
	padding: 10px 14px;
	min-width: 80px;
	border-radius: 5px;
	color: #ffffff;
	transition: filter .4s;

	&:hover(not:disabled) {
		filter: brightness(1.15);
	}

	&:disabled {}
	background-color: #ccc;
}

.small {
	padding: 8px 10px;
	font-size: 15px;
	line-height: 16px;
}

