@import '../../styles/mixins.scss';

.header {
	min-height: 40px;
	background-color: #158aa1;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
	max-width: 1200px;
	padding: 10px 22px;
	margin: 0 auto;
	@include flex(space-between, center);
}

.navigation {
	@include flex(center, center, 30px);

	a {
		font-size: 19px;
		line-height: 1.5em;
		color: #eaeaea;
		transition: .3s;
	}

	a:hover,
	a:focus {
		color: #ffffff;
	}

	a.active {
		cursor: default;
		color: #ffffff;
		font-size: 21px;
	}
}

.logo {
	@include flex(center, center, 10px);
	height: 40px;
	
	img {
		height: 40px;
		object-fit: contain;
	}

	span {
		display: inline-block;
		font-size: 20px;
		color: #eaeaea;
		transition: .4s;

		&:hover {
			color: #ffffff;
		}
	}
}

.iconsWrapper {
	@include flex(center, center, 25px);
	padding-top: 5px;
}

.favouritesContainer,
.cartContainer {
	position: relative;
	width: 30px;
	height: 30px;
	transition: filter .1s ease-in-out;

	&:hover {
		filter: brightness(1.1)
	}
}

.favouriteCounts, 
.cartCounts {
	@include flex;
	position: absolute;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	top: -10px;
	right: -10px;
	// background-color: #8ec9cd;
	background-color: #0f5f6e;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 2px;
	// color: #204a40;
	color: #ffffff;
}