@import "../../styles/variables.scss";


.container {
	padding: 20px;
	margin: 0 auto;
	max-width: 1200px;
}

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;

	@media (min-width: $bp-small) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $bp-medium) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: $bp-large) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.productsTable {
	width: 100%;
	border-collapse: collapse;

	th {
		background-color: #f2f2f2;
	}

	td, th {
		text-align: center;
		padding: 10px;
	}

	th:nth-child(1),
	th:nth-child(2),
	th:nth-child(3) {
		border-right: 1px solid #ccc;
	}

	td:nth-child(2), th:nth-child(2) {
		width: 30%;
	}

	img {
		object-fit: contain;
		height: 160px;
		width: 160px;
	}
}