@import "../../styles/mixins.scss";

.wrapper {
	@include flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
}

.background {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	cursor: pointer;
}

.modal {
	color: #000000;
	width: 60%;
	max-width: 550px;
	min-width: 300px;
	background-color: #ffffff;
	border-radius: 5px;
	z-index: 2;
}

.header {
	text-align: left;
	position: relative;
	background-color: #f1f1f1;
	border-bottom: 1px solid #b7b7b7;
	padding: 16px 45px 16px 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 22px;
	line-height: 1.5em;
}

.closeBtn {
	height: 31px;
	width: 31px;
	border-radius: 8px;
	position: absolute;
	top: 19px;
	right: 17px;
	transition: background-color .3s;


	&:hover {
		background-color:  #d4d4d4;
	}

	&::before,
	&::after {
		content: "";
		width: 25px;
		height: 2px;
		background-color: #545454;
		display: block;
		position: absolute;
		top: 47%;
		left: 3px;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.mainContainer {
	text-align: center;
	padding: 35px 35px 27px;
	font-size: 20px;
	line-height: 2em;
}

.btnsWrapper {
	@include flex(center, center, 35px);
	padding: 10px 20px 20px;

	button {
		transition: transform .2s ease-in-out;
	}


	button:hover {
		transform: scale(1.05);
	}
}
