.root {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #b2b2b2;
	border-radius: 4px;
    outline: none;
  }

  input:focus {
    outline: 2px solid #158aa1;
  }
}

.error {
  color: #ff0000;
  font-size: 14px;
}