@import "../../styles/variables.scss";

.root {
	h1 {
		font-weight: 700;
		font-size: 30px;
		line-height: 35px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
.container {
	padding: 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;

	@media (min-width: $bp-small) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $bp-medium) { 
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: $bp-large) { 
		grid-template-columns: repeat(5, 1fr);
		max-width: 1200px;
	}
}